$color-red: #FF0101;
$color-black: #020203;
$color-gray: #74798C;
$color-white: #fff;

$color-graph-black: #282D30;
$color-graph-red--dark: #E60000;
$color-graph-red--light: #F60000;
$color-graph-gray: #FBFBFB;
$color-text-gray--light: #9B9EAC;
$color-text-gray--dark: #74798C;

$color-nutrition--calories: #ff0000;
$color-nutrition--proteins: #4AB8FF;
$color-nutrition--carbohydrates: #FDCC0C;
$color-nutrition--lipids: #FD5181;

:export {
    colorRed: $color-red;
    colorGraphBlack: $color-graph-black;
    colorGraphRedDark: $color-graph-red--dark;
    colorGraphRedLight: $color-graph-red--light;
    colorGraphGray: $color-graph-gray;
};