.performanceRadarGraph{
    background-color: $color-graph-black;
    border-radius: 5px;

    font-size: 12px;

    min-width: 200px;
    max-width: 260px;
    width: 19vw;
    min-height: 200px;
    max-height: 260px;
    height: 19vw;
}